@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

@theme {
  --color-primary: #1977cc;
  --color-secondary: #3291e6;
  --color-dark: #2c4964;
}


@keyframes floatY {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: floatY 5s ease-in-out infinite;
}


body{
  font-family: "Poppins", sans-serif;
}


